<div id="content" class="site-content">
    <div class="page-wrapper">
        <div class="page-wrapper-inner  ico-page-wrapper">
        
            {{{msg-box}}}
            
            {{{view-metamask}}}

            {{{ico-view-brand}}}

            {{{ico-view-panel}}}

            {{{ico-view-audit}}}
        </div>

    </div>
</div>
