<div class="wpsc">
  <div class="ui inverted segment">
    <h1 class="ui header">
      <img class="ui image huge floated left" src="{{white-logo}}">
      {{{tutorials-tools}}}
    </h1>
    <p>{{{tutorials-tools-desc}}}</p>
  </div>

  <div class="ui secondary segment">
    <h3 class="ui dividing header">
      <i class="book icon"></i>
      Documentation
    </h3>

    <h4 class="ui dividing header">
      {{{deploy}}}
    </h4>
    <p>
      <i class="circle icon"></i>
      <a href="https://wpsmartcontracts.com/docs/doc-nft-collection.php" target="_blank">
        NFT Marketplace
      </a>
    </p>
    <p>
      <i class="circle icon"></i>
      <a href="https://wpsmartcontracts.com/docs/doc-item.php" target="_blank">
        NFT Items
      </a>
    </p>
  </div>

  <div class="ui stackable grid">
    
    <div class="sixteen wide column">

      <div class="ui info message">

        <span class="ui blue ribbon label">Change the NFT Look&Feel</span>
        <div class="ui divider"></div>
  
        <div class="header">
          Change the skin of your NFT Marketplace
        </div>
        <ul class="list">
          <li>Please <a href="{{wp-admin-url}}options-general.php?page=etherscan-api-key-setting-admin" target="_blank">Open NFT Settings</a></li>
          <li>Select your preferred skin</li>
          <li>Click on save settings</li>
        </ul>
        <p>Settings will open on a new window</p>
        <p>This is a global setting</p>
        <a href="{{wp-admin-url}}options-general.php?page=etherscan-api-key-setting-admin" target="_blank" class="ui button">
          <i class="external icon"></i>Open NFT Settings
        </a>
      </div>


        <div class="ui info compact message wpsc-spacing wpsc-centering">
            <span class="ui blue ribbon label">Need help?</span>
            <div class="ui divider"></div>
            <div class="header">
                <div class="sub header">Mint an Item</div>
            </div>
            <div class="ui ordered list">    
                <span class="item">Fill all the data of the form, including categories, tags, description</span>
                <span class="item">Load the media of the NFT, this is the piece of the NFT itself. Can be an image, document, audio or video in any standar media format</span>
                <span class="item">Fill the address of the recipient of the new token (the owner address)</span>
                <span class="item">Choose the collection</span>
                <span class="item">Click on "Mint"</span>
                <i class="external alternate icon"></i> <a href="https://wpsmartcontracts.com/docs/doc-nft-collection.php" target="_blank">Learn more</a>
            </div>
            <span class="ui blue ribbon label">Still have questions?</span>
            <p>
                <i class="external alternate icon"></i>
                <a href="https://wpsmartcontracts.com/contact-us/" target="_blank">Get in touch with a human being</a>
            </p>
        </div>
 
    </div>
  </div>

  <div class="ui divider"></div>

  <a href="https://wpsmartcontracts.com" target="_blank">
    <img class="ui medium centered image" src="{{wpsc-logo}}">
  </a>
  <div class="ui divider"></div>
  <p>If you enjoy WP Smart Contracts plugin give us a <a href="https://wordpress.org/support/plugin/wp-smart-contracts/reviews/#new-post" target="_blank">5 stars review</a> Thanks in advance!</p>
</div>
